[submodule "MeshCartographyLib"]
	path = MeshCartographyLib
	url = https://github.com/MorphoPhysics/MeshCartographyLib.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
